/* COMMON */
* {
  box-sizing: border-box;
  margin: 0;
}

.body__container {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

a {
  text-decoration: none;
}

/* BUTTON */
.btn {
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  height: 34px;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  background: #eee linear-gradient(to bottom,#fcfcfc, #eee);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #333;
  cursor: pointer;
  position: relative;
}
  
.btn:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.07);
}

.btn.btn--primary {
  border: 1px solid #65b836;
  background: #55a532 linear-gradient(to bottom, #91dd70, #55ae2e);
  color: #fff;
}

/* INPUT */
.input--text {
  height: 34px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  font-size: 16px;
}

.input--text:focus {
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),
              0 0 5px rgba(81,167,232,0.5);
}

/* TEXT */
.text-title {
  font-size: 38px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 18px;
}

.text-desc {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.25;
  color: #767676;
}

/* Vendor Prefix (브라우저 업체별 접두사) */
.input--text::-webkit-input-placeholder {color: #cacaca; }
.input--text::-ms-input-placeholder { color:#cacaca; }
.input--text::-moz-input-placeholder { color:#cacaca; }

/* FLOAT CLEARFIX */
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.float--left {
  float: left;
}

.float--right {
  float: right;
}

/* HEADER */
.header {
  border-bottom: 1px solid rgba(0,0,0, .75);
  box-shadow: 0 0 5px rgb(0 0 0 / 75%);
}
.header .container {
  max-width: 980px;
  height: 78px;
  margin: 0 auto;
}

.header .menu-group {
  display: flex;
  align-items: center;
  height: 100%;
}

.header .menu-logo {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../img/logo.svg);
  text-indent: -9999px;
  margin-right: 10px;
}

.header .menu-logo:hover {
  background-image: url(../img/logo_on.svg);
}

.header .main-menu {
  display: flex;
}

.menu-group .main-menu a{
  display: block;
  padding: 10px;
  color: #3c4146;
}

.menu-group .main-menu a:hover {
  color:  #4078c0;
}

.sign-group {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100%;
}

.sign-group .btn-group {
  display: flex;
}

.sign-group .btn-group a:first-child {
  margin-right: 4px;
}

#search-form {
  margin-right: 12px;
}

#search {
  width: 160px;
  font-size: 14px;
}

#search + [type="submit"] {
  display: none;
}

.sign-group .sub-menu {
  display: flex;
  margin-right: 10px;
}

.sign-group .sub-menu a {
  display: block;
  padding: 8px;
  font-size: 13px;
  color: #3c4146;
}

/* VISUAL */
.visual {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.visual .container {
  display: flex;
  max-width: 980px;
  padding: 160px 0;
  margin: 0 auto;
}

.visual .summary {
  width: 550px;
  margin-right: 90px;
}

.visual .summary-title {
  font-size: 54px;
  font-weight: 300;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgb(0 0 0 / 25%), 
               0 1px 25px rgb(0 0 0 / 75%);
  margin-bottom: 18px;
}

.visual .summary-desc {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.5;
  color: #fff;
  text-shadow: 0 1px 1px rgb(0 0 0 / 25%),
               0 1px 25px rgb(0 0 0 / 75%);
}

#sign-form {
  width: 340px;
  margin-top: 16px;
}

#sign-form li{
  margin-bottom: 17px;
}

#sign-form .input--text {
  width: 100%;
  height: 40px;
}

#sign-form .btn.btn--primary {
  width: 100%;
  height: 62px;
  padding: 0 25px;
  font-size: 20px;
  justify-content: center;
}

#sign-form strong {
  display: block;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(255, 255, 255, .6);
  margin-top: 5px;
}

/* FEATURE */
.feature {
  background-color: #f5f5f5;
  padding-top: 66px; 
}

.feature .feature-text {
  max-width: 820px;
  margin: 0 auto;
  text-align: center;
}

.feature .video {
  max-width: 650px;
  margin: 50px auto;
}

.feature .video-ratio {
  height: 0;
  padding-top: 56.25%;
  position: relative;
}

.feature .video iframe {
  width: 100%;
  height: 100%;
  position:absolute;
  top:0;
  left:0;
}

.feature-subtext {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.feature-subtext ul {
  display: flex;
}

.feature-subtext li {
  max-width: 25%;
  padding: 34px 24px;
  border-right: 1px solid #e5e5e5;
  line-height: 1.5;
  text-align: center;
}

.feature-subtext li:last-child {
  border-right: none;
}

.feature-subtext img {
  width: 100%;
  padding: 14px 10% 24px;
}

.feature-subtext h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.feature-subtext p {
  font-size: 14px;
  color: #767676;
}

/* LOCATION */
.location .container {
  max-width: 980px;
  padding-top: 80px;
  margin: 0 auto;
}

.location-map {
  width: 100%;
  height: 400px;
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
  margin-top: 40px;
}

/* SIGN-CARD */
.card {
  background: linear-gradient(#f5f5f5, #fff);
}

.card .container {
  max-width: 980px;
  padding: 80px 0;
  margin: 0 auto;
}

.card .card-text {
  display: flex;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
}

.card .cell {
  height: 114px;
  padding: 24px;
}

.card .cell-1 {
  display: flex;
  align-items: center;
  border-right: 1px solid #e5e5e5;
}

.card .cell-2 {
  flex: 1;
}

.card .btn.btn--primary {
  height: 50px;
  font-size: 16px;
}

.card .card-desc {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
}

/* FOOTER */
.footer .container {
  max-width: 980px;
  padding: 50px 0;
  border-top: 1px solid #eee;
  margin: 0 auto;
  position: relative;
}

.footer .site-links {
  display: flex;
}

.footer .site-links li {
  font-size: 12px;
  color: #767676;
  margin-right: 12px;
}

.footer .site-links a {
  color: #4078c0;
}

.footer .site-links a:hover {
  text-decoration: underline;
}

.footer .logo {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../img/logo_footer.svg);
  text-indent: -9999px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.footer .logo:hover {
  background-image: url(../img/logo_on.svg);
  background-size: contain;
}